.icon-item{
    border: 2px solid #a3e4dd;
    border-radius: 10%;
    height: 35px;
    width: 35px;
    background-color: #a3e4dd;
    display: flex;
    justify-content: center;
    align-items: center;
}